<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/index.html">A.I.R.</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#siteNavbar" aria-controls="siteNavbar" aria-expanded="false" aria-label="Navigation umschalten">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="siteNavbar">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/index.html">Home</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-lg-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Rechtliches
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/LegalNotice.html#LEGAL_NOTICE_DE">Impressum</a></li>
                        <li><a class="dropdown-item" href="/LegalNotice.html#PRIVACY_POLICY_DE">Datenschutz</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/LegalNotice.html#LEGAL_NOTICE_EN">Legal Notice</a></li>
                        <li><a class="dropdown-item" href="/LegalNotice.html#PRIVACY_POLICY_EN">Privacy Policy</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
