
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ECEFF4;
    color: #2F435B
}
a:link {
    color: #416C6B;
}
a:visited {
    color: #416C6B;
    font-style: oblique;
}
a:focus {
    color: #416C6B;
    font-weight: bold;
}
a:hover {
    color: #416C6B;
    font-weight: bold;
}
a:active {
    color: #416C6B;
    font-weight: bold;
}
table, th, td {
    border: 1px solid #6C7A89;
}
h1, h2, h3{
    color: #2F435B
}
hr {
    color: #7E3D29;
}
